@model List<Product>
@{
    ViewData["Title"] = "List";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">商品列表</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-square"></i>新增商品</a>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="tblData">
        <thead>
            <tr>
                <th>標題</th>
                <th>ISBN</th>
                <th>價格</th>
                <th>作者</th>
                <th>分類</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}