@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">訂單已成功建立</h1>
        您的訂單編號為: @Model
        <br />
        <img src="~/images/orderconfirmation.jpg" width="65%" />
    </div>
</div>