@page
@model BulkyWebRazor_Temp.Pages.Categories.EditModel
@{
}
<form method="post" asp-page="/Categories/Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Edit Category
            </h2>
            <hr />
            @* <div asp-validation-summary="All"></div> *@
        </div>
        <input asp-for="category.Id" hidden />
        <div class="mb-3 ">
            <label asp-for="category.Name">Category Name</label>
            <input asp-for="category.Name" class="form-control" />
            <span asp-validation-for="category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="category.DisplayOrder">Display Order</label>
            <input asp-for="category.DisplayOrder" class="form-control" />
            <span asp-validation-for="category.DisplayOrder" class="text-danger"></span>

        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/Categories/List" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>


    </div>

</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}